@import './normalize.css';
@import 'variables';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/bootstrap-grid';

body {
  font-family: Roboto, sans-serif;
  color: $primary;
}

.cursor--pointer {
  cursor: pointer;
}

.navbar {
  padding: 0px 32px;
  border-bottom: solid 1px $primary;
  &__content {
    display: flex;
    flex-flow: row nowrap;
    margin: 8px 0px;
    align-items: center;

    &__brand {
      width: 20%;
    }

    &__nav {
      width: 50%;
      * {
        color: $primary;
        text-decoration: none;
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }

    &__actions {
      width: 30%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
    }
  }
}

.user-avatar {
  &--border--rounded {
    border-radius: 50%;
  }

  &--size {
    &--32x32 {
      width: 32px;
      height: 32px;
    }
  }
}

.button-icon {
  cursor: pointer;
  .button-icon__icon {
    transition: box-shadow 150ms;
    &:hover {
      box-shadow: 0px 0px 0px 3px rgba($color: $primary, $alpha: 0.25);
    }
  }
}

.project-card {
  border: solid 1px $primary;
  padding: 1rem;
  min-width: 320px;
  border-radius: 4px;

  &__key {
    font-size: 13px;
  }

  &__users {
    margin: 8px 0px 16px;

    img {
      box-shadow: 0px 0px 0px 1px rgba($color: $white, $alpha: 1);
      &:not(:first-child) {
        transform: translate3d(-4px, 0px, -1px);
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    font-size: 13px;
  }
}
